    :root{
        --primary-text: rgb(35, 35, 35) ; 
        --secondary-text: rgb(106, 106, 106); 
        --sky-blue: rgb(136, 196, 251);
        --sky-blue-bold: rgb(86, 173, 255);
        --sky-blue-light: rgb(198, 224, 251);
        --red-error: rgb(245, 83, 83); 
    }
    
    /* Global Css */
    @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Cairo", sans-serif;
    }



/* signUp */
    .signUpFormHolder{
        display:  flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-height: 100vh;
    }
    .signUpForm{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 0 5px 1px var(--sky-blue-light);
        padding: 20px 30px; 
        border-radius: 9px ;
    }
    .signUpFormHolder label{
        color: var(--secondary-text) ;
        margin-top: 5px ;
    }
    .signUpFormHolder input:focus{
        background-color: var(--sky-blue-light);
        border: 1px solid var(--sky-blue);
        outline: 0; 
    }
    .signUpFormHolder input{
        padding: 10px;
        width: 300px;
        margin: 10px  0 0 ; 
        border-radius: 5px; 
        border: 1px solid var(--sky-blue-light); 
        color: var(--primary-text) ; 
        font-weight:  bold;
    }
    .signUpFormHolder input:not(:placeholder-shown){
        background-color: var(--sky-blue-light );
    }
    .signUpFormHolder input::placeholder{
        color: rgba(128, 128, 128, 0.773) ;
    }
    .signUpFormHolder button:hover{
        background-color: var(--sky-blue-bold);
        color: white;
        cursor: pointer ;
    }
    .signUpFormHolder button{
        padding: 10px;
        border-radius: 5px;
        outline: 0;
        border: 0;
        border: 2px solid var(--sky-blue-bold);
        color: var(--sky-blue-bold);
        margin: 20px 0 ; 
    }

    .signUpFormHolder .warningP{
        color: var(--red-error);
        font-size: 12px;
        padding:  5px 0;
    }