     
    /* Global Css */
    @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Cairo", sans-serif;
    }

    :root{
            --primary-text: rgb(35, 35, 35) ;   
            --secondary-text: rgb(106, 106, 106); 
            --card-shadow: 0 0 5px 0px rgba(106, 106, 106, 0.34); 
            --card-shadow-hover:0 0 10px 0px rgba(106, 106, 106, 0.34); 
            --sky-blue: rgb(136, 196, 251);
            --sky-blue-bold: rgb(86, 173, 255);
            --sky-blue-light: rgb(198, 224, 251);
            --sky-blue-lighter-bg: rgba(214, 229, 245, 0.119);
            --red-error: rgb(245, 83, 83); 
    }
  
/* signUp && login*/
    .FormHolder{
        display:  flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-height: 100vh;
        background-color: var(--sky-blue-lighter-bg);
    }
    .FormHolder .Form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: var(--card-shadow);
        padding: 20px 30px; 
        border-radius: 9px ;
        transition: all 0.3s ease; 
    }
    .FormHolder .Form:hover{
        box-shadow:  var(--card-shadow-hover);
        transform: scale(1.005);
    }
    .FormHolder .Form header{
        text-align: center;
        padding: 20px;
        background-color: var(--sky-blue-light);
        border-radius: 9px;
        margin:  0 0 20px;
    }
    .FormHolder .Form header h2{
        color: var(--sky-blue-bold);
        
    }
    
    .FormHolder .input-container {
        position: relative;
        margin: 20px 0 0;
    }

    .FormHolder input {
        padding: 15px 12px;   
        width: 300px;
        border-radius: 5px; 
        border: 1px solid var(--sky-blue-light); 
        color: var(--primary-text); 
        font-weight: bold;
        line-height: 1.4;    
    }


    .FormHolder label{
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: var(--secondary-text);
        background: white;
        transition: 0.2s ease all;
        pointer-events: none;
    }

   
    .FormHolder input:focus{
        border: 1px solid var(--sky-blue);
        outline: 0; 
    }

    .FormHolder input:focus +  label ,
    .FormHolder input:not(:placeholder-shown) + label 
    {
        top: 0px;
        left: 8px;
        padding: 10px ; 
        font-size: 14px;
        color: var(--sky-blue-bold);
        border-radius: 9px;
    }

   
   
    .FormHolder button:hover{
        background-color: var(--sky-blue-bold);
        color: white;
        cursor: pointer ;
        
    }
    .FormHolder button{
        padding: 10px;
        border-radius: 5px;
        outline: 0;
        border: 0;
        border: 2px solid var(--sky-blue-bold);
        color: var(--sky-blue-bold);
        margin: 20px 0 ; 
    }

   .warningP{
        color: var(--red-error);
        font-size: 12px;
        padding:  5px 0;
    }
    
    .FormHolder a{
        color: var(--sky-blue);
        font-size: 12px;
        text-decoration: none;
    }
    .FormHolder a:hover{
        color: var(--sky-blue-bold) ;
    }

    /* يحذف اللون الأزرق عند التعبئة التلقائية */
    .FormHolder input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
        -webkit-text-fill-color: var(--primary-text) !important;
    }


/* start header */
    .header{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        background-color: var(--sky-blue-lighter-bg);
        box-shadow: var(--card-shadow);
        padding:10px 20px ;
    }
  
    .header .links{
        display: flex;
        justify-content: space-between;
        gap: 10px ; 
    }
    .header .links a{
        color: var(--primary-text);
        text-decoration: none;
        padding: 10px 20px;
    }

    .header .links a:hover{
        border: 1px solid var(--sky-blue-light);
        border-radius: 9px;
    }

    .header .right a{
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        outline: 0;
        border: 0;
        border: 2px solid var(--sky-blue-bold);
        color: var(--sky-blue-bold);
        margin: 0 5px ; 
    }

    .header .right a:hover{
        background-color: var(--sky-blue-bold);
        color: white;
        cursor: pointer ;
    }
    .header .right .logout{
        border: 2px solid var(--red-error);
        color: var(--red-error);
    }
    .header .right .logout a:hover{
        background-color: var(--red-error);
        color: white ;
        cursor: pointer ;
    }
/*=>>end header */

/* frame work */
    .d-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container{
        max-width: 1100px;
        margin: auto;
    }
    .p20{
        padding: 20px;
    }
    .blueBtn {
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
        outline: 0;
        border: 0;
        border: 2px solid var(--sky-blue-bold);
        color: var(--sky-blue-bold);
        margin: 0 5px ; 
    }
    .blueBtn:hover{
        background-color: var(--sky-blue-bold);
        color: white;
        cursor: pointer ;
    }
/*==> frame work */
/* inputs*/
        .input-group{
                position: relative;
                margin-top: 15px ;
            }
           .input-group label{
                position: absolute;
                top: -15px;
                left: 10px;
                padding:0 5px  ; 
                background-color: #eee;
                color: var(--sky-blue-bold);

                font-weight: bold;
            }
            .input-group input{
                width: 300px;
                outline: none;
                border: 1px solid var(--sky-blue-bold);
                border-radius: 9px;
                padding: 10px;
                
                background-color: #eee;
                color: var(--primary-text)
            }
/*==> inputs*/